span,
em,
h2,
a {
  color: wheat !important;
  font-size: 20px !important;
  margin-bottom: 15px !important;
  font-family: serif !important;
  text-shadow: 0px 2px 14px black !important;
}
h1 {
  font-size: 50px !important;
  margin-bottom: 25px !important;
  text-shadow: 0px 2px 14px black;
}
a {
  color: rgb(38, 38, 134) !important;
}
